# KBO Dataset 불러오기

### About this file
- 1990년부터 2018년까지의 선수들의 기록을 바탕으로 다음 시즌의 AB 혹은 OPS를 예측할 수 있도록 구성되어 있습니다.

In [3]:
import pandas as pd
df = pd.read_csv('KBO_archive/2019_kbo_for_kaggle_v2.csv')

In [5]:
print(df.head())

  batter_name   age     G     PA     AB     R     H   2B   3B    HR  ...  tp  \
0         백용환  24.0  26.0   58.0   52.0   4.0   9.0  4.0  0.0   0.0  ...  포수
1         백용환  25.0  47.0   86.0   79.0   8.0  14.0  2.0  0.0   4.0  ...  포수
2         백용환  26.0  65.0  177.0  154.0  22.0  36.0  6.0  0.0  10.0  ...  포수
3         백용환  27.0  80.0  199.0  174.0  12.0  34.0  7.0  0.0   4.0  ...  포수
4         백용환  28.0  15.0   20.0   17.0   2.0   3.0  0.0  0.0   0.0  ...  포수

     1B   FBP    avg    OBP    SLG    OPS  p_year    YAB   YOPS
0   5.0   6.0  0.173  0.259  0.250  0.509    2014   79.0  0.580
1   8.0   5.0  0.177  0.226  0.354  0.580    2015  154.0  0.784
2  20.0  20.0  0.234  0.316  0.468  0.784    2016  174.0  0.581
3  23.0  20.0  0.195  0.276  0.305  0.581    2017   17.0  0.476
4   3.0   3.0  0.176  0.300  0.176  0.476    2018   47.0  0.691

[5 rows x 37 columns]

In [6]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [7]:
print(df.shape)

(1913, 37)

In [8]:
print(df.columns)

Index(['batter_name', 'age', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'TB',
       'RBI', 'SB', 'CS', 'BB', 'HBP', 'GB', 'SO', 'GDP', 'BU', 'fly', 'year',
       'salary', 'war', 'year_born', 'hand2', 'cp', 'tp', '1B', 'FBP', 'avg',
       'OBP', 'SLG', 'OPS', 'p_year', 'YAB', 'YOPS'],
      dtype='object')

| index | Column <br> Name | 설명 | index | Column <br> Name | 설명 | index | Column <br> Name | 설명 | index | Column <br> Name | 설명 |
|:---:|:---:|:---|:---:|:---:|:---|:---:|:---:|:---|:---:|:---:|:---|
| **1** | batter_name | 선수 이름 | **11** | TB | 총 루타 수 |  **21** | fly | 희생 플라이 |  **31** | avg | 타율 |  
| **2** | age | 나이 | **12** | RBI | 타점 |  **22** | year | 해당 시즌 |  **32** | OBP | 출루율 |  
| **3** | G  | 경기 수 | **13** | SB | 도루 성공 | **23** | salary | 해당 시즌의 연봉 |  **33** | SLG | 장타율 |  
| **4** | PA | 타수 | **14** | CS | 도루 실패 |  **24** | war | 대체 선수 대비 승리 기여도 |  **34** | OPS | OBP + SLG | 
| **5** | AB  | 타석 수 | **15** | BB  | 볼넷 수 |  **25** | year_born | 선수 태어난 연도 |  **35** | p_year | 다음 시즌 |  
| **6** | R  | 득점 | **16** | HBP | 몸에 맞은 공 |  **26** | hand2 | 타석 위치 |  **36** | YAB | 다음 시즌 타석 수 |  
| **7** | H  | 안타 | **17** | GB | 고의4구 |  **27** | cp | 최근 포지션 |  **37** | YOPS | 다음 시즌 OPS |  
| **8** | 2B | 2루타 | **18** | SO | 삼진 |  **28** | tp | 통합 포지션 |  |  |  |  
| **9** | 3B | 3루타 | **19** | GDP | 병살 | **29** | 1B | 1루타 |  |  |  |  
| **10** | HR | 홈런 | **20** | BU | 희생타 | **30** | FBP | BB + HBP |  |  |  |

In [11]:
print(df.dtypes)

batter_name     object
age            float64
G              float64
PA             float64
AB             float64
R              float64
H              float64
2B             float64
3B             float64
HR             float64
TB             float64
RBI            float64
SB             float64
CS             float64
BB             float64
HBP            float64
GB             float64
SO             float64
GDP            float64
BU             float64
fly            float64
year             int64
salary           int64
war            float64
year_born       object
hand2           object
cp              object
tp              object
1B             float64
FBP            float64
avg            float64
OBP            float64
SLG            float64
OPS            float64
p_year           int64
YAB            float64
YOPS           float64
dtype: object

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1913 entries, 0 to 1912
Data columns (total 37 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   batter_name  1913 non-null   object
 1   age          1913 non-null   float64
 2   G            1913 non-null   float64
 3   PA           1913 non-null   float64
 4   AB           1913 non-null   float64
 5   R            1913 non-null   float64
 6   H            1913 non-null   float64
 7   2B           1913 non-null   float64
 8   3B           1913 non-null   float64
 9   HR           1913 non-null   float64
 10  TB           1913 non-null   float64
 11  RBI          1913 non-null   float64
 12  SB           1913 non-null   float64
 13  CS           1913 non-null   float64
 14  BB           1913 non-null   float64
 15  HBP          1913 non-null   float64
 16  GB           1913 non-null   float64
 17  SO           1913 non-null   float64
 18  GDP          1913 non-null   float64
 19  BU           1913 non-null   float64
 20  fly          1913 non-null   float64
 21  year         1913 non-null   int64
 22  salary       1913 non-null   int64
 23  war          1913 non-null   float64
 24  year_born    1913 non-null   object
 25  hand2        1913 non-null   object
 26  cp           1913 non-null   object
 27  tp           1913 non-null   object
 28  1B           1913 non-null   float64
 29  FBP          1913 non-null   float64
 30  avg          1899 non-null   float64
 31  OBP          1901 non-null   float64
 32  SLG          1899 non-null   float64
 33  OPS          1899 non-null   float64
 34  p_year       1913 non-null   int64
 35  YAB          1913 non-null   float64
 36  YOPS         1898 non-null   float64
dtypes: float64(29), int64(3), object(5)
memory usage: 553.1+ KB
None

In [13]:
print(df.groupby('year')['salary'].mean())

year
1990     2400.000000
1991     2400.000000
1992     2400.000000
1993     2400.000000
1994     2400.000000
1995     2400.000000
1996     2400.000000
1997     2990.000000
1998     3405.263158
1999     4119.047619
2000     5580.000000
2001     5806.250000
2002     6602.631579
2003     6509.302326
2004     7266.666667
2005     8011.111111
2006     8058.636364
2007     9752.941176
2008    10667.721519
2009    10012.643678
2010    11723.238636
2011    11851.000000
2012    13712.605042
2013    14792.800000
2014    16932.330827
2015    20183.229814
2016    18331.952663
2017    20575.141243
2018    21425.641026
Name: salary, dtype: float64

In [14]:
print(df.groupby(['year', 'batter_name'])['salary'].mean())

year  batter_name
1990  김병수              2400
      김재상              2400
      김종헌              2400
      심재원              2400
      오대석              2400
                      ...
2018  홍재호              3500
      홍창기              2700
      황윤호              3100
      황재균            120000
      황진수              6200
Name: salary, Length: 1913, dtype: int64

In [15]:
print(df['batter_name'].nunique())

338

In [16]:
print(df.groupby('year')['batter_name'].nunique())

year
1990      9
1991      6
1992      4
1993      4
1994      5
1995      8
1996     12
1997     15
1998     19
1999     21
2000     25
2001     32
2002     38
2003     43
2004     51
2005     54
2006     66
2007     68
2008     79
2009     87
2010     88
2011    100
2012    119
2013    125
2014    133
2015    161
2016    169
2017    177
2018    195
Name: batter_name, dtype: int64

In [17]:
print(df['batter_name'].drop_duplicates())

0        백용환
6        신범수
7        김민식
11       한승택
14       황윤호
        ...
1880     이상훈
1884     이승엽
1897     이원석
1909     조용호
1911    히메네스
Name: batter_name, Length: 338, dtype: object

In [18]:
salary = df['salary']

In [21]:
salary.max()

250000

In [22]:
salary.mean()

14112.13538944067

In [23]:
salary[salary > salary.mean()]

10      15000
23      18000
26      28000
31      20000
32      15000
        ...
1906    15000
1907    30000
1908    30000
1911    50000
1912    50000
Name: salary, Length: 507, dtype: int64